<h1 class="rev"> My Reviews </h1>
<table class = "center">
    <tr>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Semester</th>
        <th>Year</th>
        <th>Professor</th>
        <th>Review</th>
    </tr>
    {{#each class}}
        <tr>
            <td>{{courseNumber}}</td>
            <td>{{courseName}}</td>
            <td>{{semester}}</td>
            <td>{{year}}</td>
            <td>{{professor}}</td>
            <td>{{review}}</td>
        </tr>
    {{/each}}
</table>