<table class = "center">
    <tr>
        <th>Artist</th>
        <th>Venue</th>
        <th>Location</th>
        <th>Date</th>
        <th>Status</th>
    </tr>

    {{#each class}}
        <tr>
            <td>{{artist}}</td>
            <td>{{venue}}</td>
            <td>{{location}}</td>
            <td>{{date}}</td>
            <td>{{status}}</td>
            
        </tr>
    {{/each}}
    <form action="/concerts/delete/{{this._id}}" method="POST">
        <button type="submit">Delete</button>
    </form>

</table>