<table class = "center">
    <tr>
        <th>Artist</th>
        <th>Venue</th>
        <th>Location</th>
        <th>Date</th>
        <th>Status</th>
        <th>Remove Entry</th>
        <th>Edit Entry</th>
    </tr>

    {{#each class}}
        <tr>
            <td>{{artist}}</td>
            <td>{{venue}}</td>
            <td>{{location}}</td>
            <td>{{date}}</td>
            <td>{{status}}</td>
            <td>
                <form action="/concerts/delete/{{this._id}}" method="POST">
                    <button type="submit">X</button>
                </form>
            </td>
            <td>
               <a href="/concerts/edit/{{this._id}}">Edit</a>
               
            </td>

            
        </tr>
    {{/each}}
   

</table>